<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @menu_item.icon %>
</p>

<p>
  <strong>Page:</strong>
  <%= @menu_item.page_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu_item.order %>
</p>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
